{% extends "admin/layout.njk" %}

{% block head %}
<title>Foodfy - Admin Create</title>
{% endblock %}

{% block content %}

<main>
    <form class="page-admin" method="POST" action="/admin/recipes">

    <div class="header-content">
            <h2>Nova receita</h2>
            <button type="submit">Salvar receita</button>
        </div>

    {% include 'admin/fields.njk' %}

    </form>
</main>

{% endblock %}