{% extends "admin/layout.njk" %}

{% block content %}

<main>
    <div class="page-admin">
    <div class="header-content">
        <h2>Gerenciar receitas</h2>
        <a href="/admin/recipes/create">Nova receita</a>
    </div>

    <div class="cards-dishes">
        <div class="dishes">
        {% for recipe in recipes %}
            <div class="dish" id="{{recipe.id}}">
                <img src="{{recipe.photo_recipe}}" alt="Imagem {{recipe.photo_recipe}}">
                <div class="infos">
                    <h4>{{recipe.name}}</h4>
                    <p>por {{ recipe.author_recipe }}</p>
                    <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    </div>
</main>

{% endblock %}