{% extends "admin/layout.njk" %}

{% block head %}
<link rel="stylesheet" href="/styles/dishes.css">
{% endblock %}

{% block content %}

<main>
    <div class="page-admin">
    <div class="header-content">
        <h2>Receita: {{recipe.name}}</h2>
        <a href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
    </div>

    <div class="dish-show">
       <div class="introdution">
           <img src="{{recipe.photo_recipe}}" alt="Imagem do {{recipe.name}}">
           <h2>{{recipe.name}}</h2>
           <p>por {{recipe.author_recipe}}</p>
       </div>
       <div class="group">
           <div class="title-group">
                <h3>Ingredientes</h3>
           </div>
           <div class="content-group">
            <ul>
                {% for ingredient in recipe.ingredients %}
                <li>- {{ingredient}}</li>
                {% endfor %}
           </ul>
           </div>
       </div>
       <div class="group">
           <div class="title-group">
                <h3>Modo de preparo </h3>
           </div>
            <div class="content-group">
            <ul>
                {% for preparation in recipe.preparations %}
                <li>- {{preparation}}</li>
                {% endfor %}
           </ul>
            </div>
       </div>
       <div class="group">
           <div class="title-group">
                <h3>Informações adicionais</h3>
           </div>
           <div class="content-group">
            <p>{{recipe.add_info}}</p>
           </div>
       </div>
    </div>

    </div>
</main>

{% endblock %}