{% extends "layout.njk" %}

{% block head %}
<title>Foodfy - {{ dish.name }}</title>
<link rel="stylesheet" href="/styles/dishes.css">
{% endblock %}

{% block content %}

<main>
       <div class="header">
           <img src="/imagens/{{dish.img}}.png" alt="Imagem do  {{ dish.img }}">
           <h2>{{ dish.name }}</h2>
           <p>{{ dish.author }}</p>
       </div>
       <div class="step">
           <div class="title-step">
                <h3>Ingredientes</h3>
                <span>esconder</span>
           </div>
           <div class="content">
            <ul>
               {% for ingredient in dish.ingredients %}
                    <li>{{ ingredient.name }}</li>
               {% endfor %}
           </ul>
           </div>
       </div>
       <div class="step">
           <div class="title-step">
                <h3>Modo de preparo </h3>
                <span>esconder</span>
           </div>
            <div class="content">
            <ul>
               {% for step in dish.preparation %}
                    <li>{{ step.step }}</li>
               {% endfor %}
           </ul>
            </div>
       </div>
       <div class="step">
           <div class="title-step">
                <h3>Informações adicionais</h3>
                <span>esconder</span>
           </div>
           <div class="content">
            <p>{{ dish.infos }}</p>
           </div>
       </div>
    
</main>

{% endblock %}