{% extends "layout.njk" %}

{% block head %}
<title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}

<main>
    <div class="mostAccessed">
        <div class="dishes">
            {% for dish in dishes %}
            <div class="dish" id="{{ dish.id }}">
                <img src="/imagens/{{ dish.id }}.png" alt="Imagem do {{ dish.id }}">
                <h4>{{ dish.name }}</h4>
                <p>{{ dish.author }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

<div class="modal-overlay">
<div class="modal">
    <div class="modal-content">
        <img src="" alt="">
        <h4></h4>
        <p></p>
        <a class="close-modal">
            <p>Fechar</p>
        </a>
    </div>
</div>
</div>

{% endblock %}