{% extends "layout.njk" %}

{% block content %}

<main>
    <div class="title">
        <div class="text">
            <h2>As melhores receitas</h2>
            <p>
                Aprenda a construir os melhores pratos
                com receitas criadas por profissionais
                do mundo inteiro.
            </p>
        </div>
        <div>
            <img src="/imagens/chef.png" alt="chef">
        </div>
    </div>

    <div class="mostAccessed">
        <h3>Mais acessadas</h3>

        <div class="dishes">
        {% for dish in dishes %}
            <div class="dish" id="{{dish.id}}">
                <img src="/imagens/{{dish.id}}.png" alt="Imagem do {{dish.id}}">
                <h4>{{ dish.name }}</h4>
                <p>{{ dish.author }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
</main>

<div class="modal-overlay">
    <div class="modal">
        <div class="modal-content">
            <img src="" alt="">
            <h4></h4>
            <p></p>
            <a class="close-modal">
                <p>Fechar</p>
            </a>
        </div>
    </div>
</div>

{% endblock %}