{% extends "dishes/layout.njk" %}

{% block head %}
<title>Foodfy - {{ dish.name }}</title>
<link rel="stylesheet" href="/styles/dishes.css">
{% endblock %}

{% block content %}

<main>
       <div class="introdution">
           <img src="/imagens/{{dish.img}}.png" alt="Imagem do  {{ dish.img }}">
           <h2>{{ dish.name }}</h2>
           <p>{{ dish.author }}</p>
       </div>
       <div class="group">
           <div class="title-group">
                <h3>Ingredientes</h3>
                <span>esconder</span>
           </div>
           <div class="content-group">
            <ul>
               {% for ingredient in dish.ingredients %}
                    <li>- {{ ingredient.name }}</li>
               {% endfor %}
           </ul>
           </div>
       </div>
       <div class="group">
           <div class="title-group">
                <h3>Modo de preparo </h3>
                <span>esconder</span>
           </div>
            <div class="content-group">
            <ul>
               {% for step in dish.preparation %}
                    <li>- {{ step.step }}</li>
               {% endfor %}
           </ul>
            </div>
       </div>
       <div class="group">
           <div class="title-group">
                <h3>Informações adicionais</h3>
                <span>esconder</span>
           </div>
           <div class="content-group">
            <p>{{ dish.infos }}</p>
           </div>
       </div>
</main>

{% endblock %}