{% extends "dishes/layout.njk" %}

{% block content %}

<main>
    <div class="title">
        <div class="text">
            <h2>As melhores receitas</h2>
            <p>
                Aprenda a construir os melhores pratos
                com receitas criadas por profissionais
                do mundo inteiro.
            </p>
        </div>
        <div>
            <img src="/imagens/chef.png" alt="chef">
        </div>
    </div>

    <div class="cards">
        <h3>Receitas</h3>

        <div class="dishes">
        {% for dish in dishes %}
            <div class="dish" id="{{dish.id}}">
                <img src="/imagens/{{dish.img}}.png" alt="Imagem do {{dish.img}}">
                <h4>{{ dish.name }}</h4>
                <p>{{ dish.author }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
</main>

{% endblock %}