{% extends "dishes/layout.njk" %}

{% block head %}
    <title>Foodfy - {{ error.name }}</title>
{% endblock %}

{% block content %}

<main>
    <div class="error">
        <h2>
            <img src="{{ error.img }}" alt="{{ error.name }}">
            <p>{{ error.note }}</p>
            </h2>
    </div>
</main>

{% endblock %}